{% extends "base.html" %}
{% block title %}Сброс пароля выполнен{% endblock title%}
{% block header %}{% endblock header %}

{% block content %}
    <div class="card">
      <div class="card-body">
        <p>Пароль изменён, всё получилось.</p>
      </div> <!-- card body -->
    </div> <!-- card -->

{% endblock content %} 

{% block sidebar_top_header %}
  Сброс пароля выполнен
{% endblock sidebar_top_header %}

{% block sidebar_top_preface %}
  Описание страницы
{% endblock sidebar_top_preface %}