{% extends "base.html" %}
{% block title %}Ссылка на восстановление пароля отправлена{% endblock title %}
{% block header %}{% endblock header %}

{% block content %}
    <div class="card">
      
      <div class="card-body">
        <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
      </div> <!-- card body -->
    </div> <!-- card -->
{% endblock content %} 

{% block sidebar_top_header %}
  Ссылка на восстановление пароля отправлена
{% endblock sidebar_top_header %}

{% block sidebar_top_preface %}
  Описание страницы
{% endblock sidebar_top_preface %}