<footer class='footer mt-auto'>
    <div class='text-center p-3' style='background-color: #1DA1F2'>
        <p class='m-0 text-dark text-center '>
            <a class='p-2 text-light' href='{% url "about:author" %}'>Об авторе</a>
            <a class='p-2 text-light' href='{% url "about:tech" %}'>Технологии</a>
        </p>
        <p class='m-0 text-dark text-center'>
            <span class='p-2 text-light'>Социальная сеть</span>
            <span style='color: #0054b9;'>Ya</span><span style='color: white;'>tter</span>
            <span class='p-2 text-light'>© {{ year }}, все права защищены.</span>
        </p>
    </div>
</footer>