<nav class='navbar navbar-expand-lg navbar-light' style='background-color: #1DA1F2;'>
  <a class='navbar-brand' href='{% url 'posts:index' %}'>
    <h3><span style='color: #0054b9;'>Ya</span><span style='color: white;'>tter</span></h3>
  </a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarNav'>
      {% if user.is_authenticated %}
      <ul class='nav navbar-nav ml-auto'>
        <li class='nav-item'>
          <a class='p-2 font-weight-bold text-uppercase' style='color: #0054b9; text-decoration: none;' href='{% url "posts:profile" username=user.username %}'>
            {{ user.username }}
          </a>
        </li>
        <li class='nav-item'>
          <a class='p-2 text-light' href='{% url "posts:new_post" %}'>Новая запись</a>
        </li>
        <li class='nav-item'>
          <a class='p-2 text-light' href='{% url "password_change" %}'>Изменить пароль</a>
        </li>
        <li class='nav-item'>
          <a class='p-2 text-light' href='{% url "logout" %}'>Выйти</a>
        </li>
      </ul>
      {% else %}
      <ul class='nav navbar-nav ml-auto'>
        <a class='p-2 text-light' href='{% url "login" %}'>Войти</a>
        <a class='p-2 text-light' href='{% url "users:signup" %}'>Регистрация</a>
      </ul>
      {% endif %}
    </div>
</nav>
