<div class="card mb-3 mt-1 shadow-sm">
  <div class="card-body">

    {% if request.resolver_match.url_name in 'index, follow_index, group_posts' %}
    <h5 class="card-title">

      {% if hide_name is not True %}

      {% if post.author.profile.avatar %}
      <img src="{{ post.author.profile.avatar.url }}"
        style="object-fit:cover; width:50px; height:50px; border: solid 1px #CCC; border-radius: 50%;">
      {% endif %}

      <a href="{% url 'posts:profile' username=post.author %}">
        {% if post.author.get_full_name|length > 0 %}
        {{ post.author.get_full_name }}
        {% else %}
        {{ post.author.get_username }}
        {% endif %}
      </a>

      {% endif %}

      {% if hide_group is not True %}
      {% if post.group is not None %}
      <span class='text-gray-dark'>в сообществе</span>
      <a class='text-body' href="{{ post.group.get_absolute_url }}">
        {{ post.group }}
      </a>
      {% endif %}
      {% endif %}

    </h5>
    {% endif %}

    {% if post.image %}
    <img src="{{ post.image.url }}" width="400">
    {% endif %}

    <p class="card-text">
      {% if request.resolver_match.url_name == 'post' %}
      {{ post.text|safe|linebreaks }}
      {% else %}
      {{ post.text|safe|linebreaks|truncatewords:50 }}
      {% endif %}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group ">
        {% if request.resolver_match.url_name != 'post' %}
        <a class="btn btn-sm text-muted" href="{{ post.get_absolute_url }}" role="button">Подробнее</a>
        <a class="btn btn-sm text-muted" href="{% url 'posts:add_comment' username=post.author post_id=post.id %}"
          role="button">Добавить комментарий</a>
        {% endif %}

        {% if user == post.author %}
        <a class="btn btn-sm text-muted" href="{% url 'posts:post_edit' username=post.author post_id=post.id %}"
          role="button">Редактировать</a>
        {% endif %}

      </div>
      <small class="text-muted">{{ post.pub_date|date:'d.m.Y' }}</small>
    </div>
  </div>
</div>
