{% extends 'base.html' %}

{% block title %}
  {% if post_author.get_full_name|length > 0 %}
    {{ post_author.get_full_name }}
  {% else %}
    {{ post_author.get_username }}
  {% endif %}
  | {{ block.super }}
{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
  {% for post in page %}
    {% include 'posts/post_item.html' with hide_name=True %}
  {% endfor %}
  {% include "posts/paginator.html" %}
{% endblock content %}

{% block sidebar_top %}
  {% include "posts/side_bar.html" with posts_qty=page.paginator.count %}
{% endblock sidebar_top %}
